.container {
    height: 100vh;
}

.jyantaku {
    background: radial-gradient(#00633A, #014026);
    border:40px solid;
    border-image: radial-gradient(#83420c, #4e300a)49%;
    border-radius: 100px;
    height: 100%;
}

.my-hand {
    background: linear-gradient(180deg, #e38010 0%,#e38010 10%,white 10%,white 90% );
    width: 97px;
    height: 180px;
    border-radius: 5%;
    font-size: 10px;
    display: grid;
    place-items: center;
    color: black;

}

.t-hand {
    background: linear-gradient(white 10%,#e38010 10%,#e38010 90%);
    width: 24px;
    height: 30px;
    border-radius: 10%;
    color: black;
}

.k-hand {

    width: 29px;
    height: 19px;
    background: linear-gradient(90deg, white 0%, white 15%, #e38010 15%, #e38010 100%);
    border-radius: 10%;
    color: black;
}
.s-hand {
    width: 29px;
    height: 19px;
    background: linear-gradient(90deg,#e38010 85%, white 85%, white 100%);
    border-radius: 10%;
    color: black;
}

.toi-discard-area {
    position: absolute;
    top: 15%;
    left: 41%;
    border: 2px solid black;
    margin: auto;
    padding: 15px;
    width: 16%;
    height: 13%;

}

.ks-discard-area {
    height: 40%;
}

.my-discard-area {
    position: absolute;
    top: 54%;
    left: 41%;
    border: 2px solid black;
    padding: 15px;
    width: 16%;
    height: 13%;
}

.discard-button {
    margin-left: auto;
    margin-top: auto ;
    /*background-color: #00633A;*/
    color: black;
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #08985a;
    background: #00633A;
    color: #fff;
    transition: 0.5s;
}
.discard-button:hover {
    color: white;
    background: #08985a;
}